/* src/App.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal input {
    padding: 10px;
    margin: 10px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  